@media (max-width:576px)
{
    .nav-link, .enroll-btn 
    {
        font-size: 0.8rem;
    }
    .App-header .container h1
    {
      font-size: 2rem;
    }
    .App-header {
    
        padding: 10px;
       
      }
      

    

}