
:root{

  --primary-dark: #131225;
  --primary-blue: #242145;
  --primary-hot-pink: #E7005E;
  --text-color: #fafafa;
  --hidden-text: rgba(224, 224, 224, 0.576);
}



body {
  font-family: 'Epilogue', sans-serif;
}

/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Navbar Styles*------------------------------*/
/*--------------------------------------------------------------------------------------------*/
.top-nav
{
  background-color: var(--primary-dark);
  z-index: 5;
  
}
.bottom-nav{
  background-color: var(--primary-blue);
  z-index: 5;
}

.top-nav .nav-body,
.bottom-nav .nav-body
{
  width: 80%;

}
.login-btn
{
  border-radius: 44px;
  
}
.top-nav .nav-link,
.bottom-nav .nav-link
{
  color: var(--text-color);
}
.nav-link
{
  margin-right: 16px;
  cursor: pointer;
}


.logo-holder
{
  width: 96px;
  height: 96px;
  position: relative;
}
.logo-holder .logo 
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-toggler
{
  border: none !important;
  color: var(--text-color) !important;
}


.dropdown-body-wrapper {


  width: 100%;
  height: auto;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  position:fixed; 
  margin-left: auto;
  margin-right: auto;
  background-color: #fafafa38;
  text-align: left;
  justify-content: start;
  z-index: 2;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--text-color);
  animation: slide-down 0.5s forwards;

 }

 .drop-container
 {
  padding-left: 0 !important;
 }

 .dropdown-body-wrapper.slide-up
 {
  animation: slide-up 0.5s forwards;
 }


 @keyframes slide-down {
  0% {
    transform: translateX(-50%);
    transform: translateY(-100%);
 }
  100% {
    transform: translateX(-50%);
    transform: translateY(0%);
 }
}



@keyframes slide-up {
  0% {
    transform: translateY(0%);
 }
  100% {
    transform: translateY(-100%);
 }
}

.dropdown-body .info p,
.dropdown-body .info h6
{
  margin: 0;
  padding: 0;
}


.selected-link {
  color: var(--primary-hot-pink) !important;
}


/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Navbar Styles*------------------------------*/
/*--------------------------------------------------------------------------------------------*/











/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Header Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/
.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  padding: 80px;
  background: rgb(36,33,69);
  background: linear-gradient(0deg, rgba(36,33,69,1) 0%, rgba(231,0,94,1) 100%);
}


.App-header .hero-img
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.App-header .container 
{
  background-color: #00000021;
  border-radius: 24px;
}
.App-header .container h1
{
  font-size: 3.5rem;
}
.App-header .container p
{
  font-weight: 200;
}



/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Header Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/
















/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Servive Section Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/
.service-icon-wrapper
{
  background-color: var(--primary-hot-pink);
  height: 56px;
  width: 56px;
}



/*--------------------------------------------------------------------------------------------*/
/*------------------------------ Servive Section Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/





















/*--------------------------------------------------------------------------------------------*/
/*------------------------------ BUtton Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/

.enroll-btn
{
  background: rgb(135,0,55);
background: linear-gradient(236deg, rgba(135,0,55,1) 0%, rgba(231,0,94,1) 100%);
  border: none;
  color: var(--text-color);
}

.enroll-btn :hover{
  color: var(--text-color) !important;
}
.get-btn
{
  background: rgb(135,0,55);
  background: linear-gradient(236deg, rgba(135,0,55,1) 0%, rgba(231,0,94,1) 100%);
    border: none;
    color: var(--text-color);
    width: 156px;
    height: 44px;
}


/*--------------------------------------------------------------------------------------------*/
/*------------------------------ BUtton Styles------------------------------*/
/*--------------------------------------------------------------------------------------------*/



.rounded-bottom
{
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.icon-wrapper
{
  width: 48px;
  height: 48px;
  background-color: var(--primary-hot-pink);
}

.mr-2
{
  margin-right: 0.5rem;
}

#features
{
  background-color: var(--primary-blue);
}
#features h2 
{
  color: var(--text-color);
}

#cta,#contact
{
  background-color: var(--primary-dark);
}
.footer
{
  background-color: var(--primary-blue) !important;
}

.brand-logo
{
  position: relative;
}
.brand-logo img 
{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  padding: 60px 0;
}

.btn-primary {
  background-color: #007bff;
  color: var(--text-color);
}

.btn-light {
  background-color: var(--text-color);
  color: #000;
}

.feature-card {
  
background: rgb(19,18,37);
background: linear-gradient(0deg, rgba(19,18,37,1) 0%, rgba(36,33,69,1) 100%);
  padding: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 25px 22px -4px rgba(19,18,37,0.45);
-moz-box-shadow: 1px 25px 22px -4px rgba(19,18,37,0.45);
box-shadow: 1px 25px 22px -4px rgba(19,18,37,0.45);
}
.feature-card p 
{
  color: var(--hidden-text);
}
.footer {
  padding: 20px 0;
  background-color: var(--text-color);
  color: #000;
}